# Core functionality - changes here should be rare!
/src/app.py                   @NyaineChanMyint
/src/backend/database.py      @NyaineChanMyint
/src/backend/routers/auth.py  @NyaineChanMyint

# The frontend will need refactored soon to be more object oriented.
/src/static/   @NyaineChanMyint
